@font-face {
   font-family: Roboto;
   src: url("/fonts/roboto-regular.woff") format("woff"),
      url("/fonts/roboto-regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Roboto;
   src: url("/fonts/roboto-bold.woff") format("woff"),
      url("/fonts/roboto-bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Roboto, Arial, sans-serif;
}

/*стили Header*/
.header {
   min-height: 450px;
   background-image: url("/images/header-backround.jpeg");
   background-repeat: no-repeat;
   background-color: #000000;
   background-size: cover;
   background-position: center center;
   position: relative;
   z-index: 0;
}

.header::after {
   content: "";
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0.55;
   background-color: #000000;
   position: absolute;
   z-index: -1;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}